@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.__container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.__spinner {
    width: 50px;
    margin: 250px auto;
}

.__galeria {
    height: 410px;
    text-align: center;
}

.__foto {
    height: 408px;
}

.__containerMain {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.__detalleRoom {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.__divSeparador {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    height: 100%;
}

.__nombre {
    margin-top: 32px;
    color: #1F2041;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

.__companeros {
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.7);
}

.__titulo {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #696871;
}

.__descripcion {
    width: 650px;
    margin-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.__precio {
    margin-top: 18px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}

.__contenedorMap {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.__features {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #19191B;
}

.__calendario {
    margin-top: 43px;
    width: 338px;
    height: 268px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(229, 229, 229, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.__tituloCalendario {
    width: 250px;
    padding-top: 37px;
    padding-left: 26px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
}

.__fechasContenedor {
    width: 286px;
    margin: 26px auto 36px auto;
}

.__botonReservar {
    width: 268px;
    height: 48px;
    margin: 0 auto;
    background: #A37AFC;
    border-radius: 10px;

    font-family: DM Sans;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    padding-top: 13px;
    cursor: pointer;
}
/*******************/
.__imageGallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 410px;
    position: relative;
    margin-top: 50px;
    cursor: pointer;
}

.__leftPanel{
    margin-right: 5px;
}

.__rightPanel{
    margin-left: 5px;
}

.__leftPanel, .__rightPanel {
    width: 50%;
    text-align: center;
}

.__child_hidden {
    display: none;
}
.__child_item {
    width: 49%;
    text-align: center;
    justify-content:center;
    display:flex;
    overflow:hidden;
    height: 200px;
}
.__child_item:nth-child(1), .__child_item:nth-child(2){
    margin-bottom: 5px;
}
.__child_item:nth-child(3),.__child_item:nth-child(4){
    margin-top: 5px;
}
.__containerImages {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.__fotoCover{
    flex:1;
    height:100%;
    cursor: pointer;
}

.__overlay{
    position:absolute;
    right:1%;
    bottom:5%;
    z-index: 10;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    box-sizing: border-box;
    padding: 4px 8px;
    width: 150px;
    height: 32px;
    font-size: 14px;
}