.__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.__contenedorListRoom {
    width: 66%;
    height: 550px;
    overflow: auto;
}

.__contenedorMapContainer {
    width: 33%;
    height: 550px;
    overflow: auto;
}
.__mapa {

}