.__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.__contenedorListRoom {
    width: 54%;
    height: 560px;
    overflow: auto;
    padding-top: 5px;
}

.__contenedorMapContainer {
    width: 46%;
    height: 560px;
    overflow: auto;
}
.__mapa {

}