@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Mulish:wght@300&display=swap');

.__contenedor {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}

.__contenedorMain{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.__contenedorTitulo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.__titulo {
    color: #19191B;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
}

.__subtitulo{
    margin-top: 27px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}

.__button{
    background: #A37AFC;
    border-radius: 10px;
    font-size: 12px;
    padding: 13px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.231474px;
    height: auto;
    width: 150px;
    color: white;
    margin-top: 33px;
    text-decoration: none;
}

.__button:hover {
    text-decoration: none;
    color: #e7e7e7;
}

.__contenedorImagen {
    width: 50%;
    background-image: url("/assets/intro-lister.jpg");
}

.__imagen{
    width: 100%;
    height: 100%;
}

.__contenedorRooms {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.__tituloRooms {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.015em;
    color: #19191B;
    margin-top: 30px;
}

.__subTituloRooms {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.625263px;
    color: #696871;
}

.__contenedorListRooms {
    width: 1208px;
    margin: 10px auto 20px auto;
    overflow: auto;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
}

