.__contenedor {
    width: 90%;
    height: 250px;
    text-align: center;
    margin: 0 auto;
}

.__logo {
    margin-top: 50px;
}

.__parrafo {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    text-align: center;
}

.__redes {
    margin: 7px;
}


@media (max-width: 650px) {
    .__logo {
        width: 14%;
    }

    .__parrafo {
        font-size: 10px;
    }

}