

.__room_container {
    width: 95vw;
    display: flex;
    padding: 1rem 2rem;
    flex-direction: row;
    margin: 2rem 2rem;
    justify-content: space-around;
}
.__form_container {
    width: 50%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.__form_div {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.__div_img {
    justify-content: center;
    width: 50%;
    padding: 1rem;
}
.__ubicacion_div {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.__input_habitacion {
    border: solid 2px #DDDDDD;
    border-radius: 5px;
    height: 2.2rem;
    margin: 1rem 0;
    width: 100%;
}

.__input_compañeros {
    border: solid 2px #DDDDDD;
    border-radius: 5px;
    height: 2.2rem;
    margin: 1rem 0;
    width: 40%;
}
.__input_precio {
    border: solid 2px #DDDDDD;
    border-radius: 5px;
    height: 2.2rem;
    margin: 1rem 0;
    width: 40%;
}
.__input_ubicacion {
    border: solid 2px #DDDDDD;
    border-radius: 5px;
    height: 2.2rem;
    width: 50%;
    margin-right: 1rem;
    margin-top: 1rem;
}
.__from_subtitle {
    margin-top: 1.5rem;
    opacity: 70%;
}
.__div_button {
    display: flex;
    justify-content: center;
}
.__button_crear {
    height: 2.2rem;
    width: 30%;
    margin-top: 2rem;
}


.__div_checkbox {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.__checkbox_group {
    margin: 0.5rem 1.5rem;
    height: 2rem;
}

.__room_label {
    margin-left: 0.5rem;
    opacity: 70%;
}

.__textarea {
    width: 60%;
    height: 5rem;
}
.__div_inputs_foto {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   
.__div_foto {
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    color:#fff;
    border:1px  dotted  #7C7C7C;
}
.__label_foto {
    margin-top: 2rem;
    text-align: center;
    vertical-align: middle;
    width: 10rem;
    height: 10rem;
    color: #7C7C7C;
}

.__fileicon {
    width: 4rem;
}








