@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

.__contenedor {
    width: 1085px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(229, 229, 229, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.__habitacion {
    margin: 4px 0 0 10px;
    color: #A37AFC;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
}

.__infoCard {
    width: 1085px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.__img {
    width: 48px;
    height: 48px;
    margin: auto 0;
}

.__nombre {
    margin: auto 0;
    width: 69px;
    height: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #000000;
}

.__contenedorFechas {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto 0;
}

.__Nombrefecha {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #19191B;
}

.__fecha {
    margin: auto 0;
    height: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #696871;
}

.__botonAceptar {
    margin: auto 0;
    justify-content: center;
    width: 134px;
    height: 48px;
    background: #A37AFC;
    border-radius: 10px;
    cursor: pointer;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
}

.__botonRechazar {
    margin: auto 0;
    width: 134px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #A37AFC;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #A37AFC;
}