.__div_checkbox {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.__checkbox_group {
    margin: 0.5rem 1.5rem;
    height: 2rem;
}

.__room_label {
    margin-left: 0.5rem;
    opacity: 70%;
}