.__contenedorRoomCard {
    width: 380px;
    height: 395px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 8px;
    box-shadow: 0px 0px 2px 0px #000000;
}

.__contenedorRoomCard:hover{
    cursor: pointer;
}

.__galeria {
    width: auto;
    height: 280px;
    border-radius: 3px;
}

.__nombre {
    margin-top: 5px;
    margin-left: 8px;
    font-size: 12px;
    color: black;
}

.__features{
    float: right;
    margin-top: 5px;
    margin-left: 8px;
    font-size: 12px;
    color: black;
}

.__descripcion {
    margin-top: 8px;
    margin-left: 8px;
    font-size: 13px;
    color: #adadad;
}

.__titulo {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 17px;
    color: #151a7b;
    font-weight: bold;
}

.__precio {
    margin-top: 6px;
    margin-left: 8px;
    font-size: 14px;
    color: black;
}