@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.__navbar{
    font-family: 'Poppins', sans-serif;
    height: 70px;
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.__navbar_img_div{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.__logo {
    padding: 6px;
}

.__navbar_search_div{
    display: flex;
    align-items: center;
    width: 63%;
}

.__navbar_search{
    width: 270px;
    height: 36px;
    margin-left: 1rem;
    color: rgba(0, 0, 0, 0.25);
    /*background-image: url("./search.ico") ;*/
    /*background-color: white;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 25px;*/
    /*background-position: 15px center;*/
    padding-left: 10px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;

    font-size: 14px;
    line-height: 30px;
}

.__navbar_button_div{
    text-align: center;
    margin: auto;
}

.__navbar_link_div{
    display: flex;
    align-items: center;
    width: 80px;
    text-align: center;
    align-content: center;
}

.__navbar_button{
    width: 200px;
    height: 36px;

    background: white;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;

    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
}

.__navbar_link {
    font-size: 14px;
    line-height: 16px;
    margin: auto;
    color: rgba(0, 0, 0, 0.65);
}

.__navbar_link_div_register{
    text-align: center;
    margin: auto 0 auto 10px;
}

.__navbar_button_register{
    width: 80px;
    height: 36px;

    text-align: center;

    background: white;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;

    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
}

.__navbar_link_div_login {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.__navbar_link_login {
    font-size: 14px;
    line-height: 16px;
    margin: auto;
    color: rgba(0, 0, 0, 0.65);
}

.__navbar_grouplinks_div{
    float: right;
    display: flex;
    position: relative;
    flex-direction: row;
}

.__avatar {
    width: 48px;
    height: 48px;
    margin-top: 10px;
}